<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "partials/head.njk" %}
        {% block customStyles %}{% endblock %}
    </head>
    <body class="">
        {% include "partials/header.njk" %}

        {% block content %}{% endblock %}

        {% include "partials/footer.njk" %}
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="js/main.bundle.js"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>